.character-item {
  margin: 20px;
  text-align: center;
  border: 2px solid rgb(61, 61, 61);
  padding: 30px;
}

.character-item__name {
  color: white;
  margin-top: 5px;
  width: 150px;
  height: 80px;
}

.character-item__img {
  border-radius: 3px;
}

.character-item__bookmark {
  background: wheat;
  width: 100px;
  padding: 8px;
  color: rgb(44, 43, 43);
  margin: 5px 0 0 -8px;
  border-radius: 4px;
}
