.character-card__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 20px 0 20px;
  padding: 30px;
  place-items: center;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 10fr);
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: repeat(1, 20fr);
  }
}
