* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  scroll-behavior: smooth;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}
