$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;

// colors
$light-gray: rgb(207, 202, 202);
$red: #750509;
$white: white;
$light-yellow: wheat;
$darker-gray: rgb(44, 43, 43);

// margins
$margin-all-m: 20px;

// paddings
$padding-all-s: 10px;
$padding-all-m: 30px;
$padding-tb-m: 30px 0;

// border-radius:
$border-radius-s: 5px;
